<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TeslongViewer</string>
	<key>CFBundleIdentifier</key>
	<string>com.boroscope.teslongviewer</string>
	<key>CFBundleName</key>
	<string>TeslongViewer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>io.grus.exone</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Access camera for boroscope viewing</string>
</dict>
</plist>
